@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image: url('../../assets/img/oboi.jpg');
    background-size:auto;
    background-position: center;
}
$orange:#F9804B;
@mixin orange_button {
    background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
    width: 298px;
    height: 54px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}
.focused{
    background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
}
.wrapper{
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
}
.header{
    background-color: #000000dc;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    .burger_menu{
        display: none;
    }
    .burger_logo{
        display: none;
    }
    .logo{
        display: flex;
        align-items: center;
        width: 100px;
    }
    &_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0 ;
        .hidden_menu{
            position: fixed;
            z-index: 3;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #e47309a2;
            display: none;
            opacity: 0;
            justify-content: center;
            align-items: flex-start;
            transition: 0.7s;
            &_list{
               position: relative;
               width: 640px;
               height: 0px;
               background-color: #c0bebe;
               transition: 0.7s;
               overflow: hidden;
               box-sizing: border-box;
               .list_menu{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                color: #4d0d2d;
                padding: 15px;
                .logo_li{
                    width: 100px;
                    display: flex;
                    align-items: center;
                    color: #fe13c3;
                    text-align: center;
                    border: 1px solid #fe13c3;
                    font-weight: 400;
                    font-size: 15.2116px;
                    line-height: 120%;
                    padding: 5px;
                    margin-bottom: 10px;
                }
                .active:hover{
                    background-color: #fe13c3;
                }
               }
               .close_btn{
                color: #fe13c3;
                background-color: inherit;
                border: none;
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 25px;
               }
            }
        }
        &_list{
            display: flex;
            align-items: center;
            gap: 63px;
        }
        ul{
            display: flex;
            gap: 58px;
            li{
                list-style-type: none;
            }
            li:hover{
                background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                cursor: pointer;
            }
        }
        a{
            text-decoration: none;
            color: #FFFFFF;
        }
        a:hover{
            background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            cursor: pointer;
        }
    }
}
.main{
    position: relative;
    &__text{
        font-size: 40px;
        font-weight: bold;
        color: #FE9013;
        text-align: center;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%,-50%);
    }
    &__video{
        height: 500px;
        overflow: hidden;
    }
}
.foto{
    position: relative;
    width: 1160px;
    height: 1100px;
    display: flex;
    .conteiner{
      display: flex;
      width: 1160px;
      position: relative;
  
    }
    &_list{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: 1s ease-in-out;
        .list_container{
            height: 502px;
            margin-right: 26px;
            margin-top: 20px;
        }
        .list_container:nth-child(3){
            margin-right: 0px;
        }
        .list_container:nth-child(6){
            margin-right: 0px;
        }
        &_item{
            position: relative;
            display: flex;
            flex-direction: column;
            border: 1px solid $orange;
            border-radius: 5px;
            width: 366px;
            height: 500px;
            transition: 0.5s;
            background-color: wheat;
            justify-content: center;
            .animal_foto{
                width: 366px;
                position: absolute;
               
            }
            &_text1{
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
            &_text2{
                text-align: center;
                overflow-y: scroll;
                scrollbar-track-color: wheat;
                height: 100px;
            }
        }
        &_item:hover{
         border-color: red;
         background-color: orangered;
        }
  }
}

.player{
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__duration{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        &_range{
            width: 80%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            height: 7px;
            border-radius: 50%;
        }
        &_range::-webkit-slider-runnable-track {
            height: 7px;
          }
        &_range::-webkit-slider-thumb {
            background: #9732be;
            cursor: pointer;
            border-radius: 30%;
            width:15px;
            height: 15px;
            -webkit-appearance: none;
            margin-top: -4px;
          }
    }
    &__volume{
        display: flex;
        align-items: center;
        gap: 10px;
        &_range{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            height: 7px;
            border-radius: 50%;
        }
        &_range::-webkit-slider-runnable-track {
            height: 7px;
          }
        &_range::-webkit-slider-thumb {
            background: #9732be;
            cursor: pointer;
            border-radius: 30%;
            width:15px;
            height: 15px;
            -webkit-appearance: none;
            margin-top: -4px;
          }
    }
    .play-btn{
        width: 30px;
    }
}

.foto_fon{
    position: relative;
    overflow: hidden;
    .move_btns{
        background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 27px 23px;
        border-radius: 30%;
        position: absolute;
        top: 40%;
        transform: translate(0,-50%);
        z-index: 5;
    }
    .move_btns:hover{
        background: #E47209;
    }
    .move_btns:active{
        background: #4B9200;
    }
    .right{
        right: 135px;
        img{
            transform: rotate(180deg);
        }
    }
    .left{
        left: 135px;
    }
    .foto_favorite{
        padding: 68px 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
                @include orange_button();
              }
        button:hover{
                background: #E47209;
            }
        button:active{
                background: #4B9200;
            }
    }
}
.footer{
    background-color: #000000de;
    &_wrap{
        display: flex;
        padding: 41px 0 50px;
        flex-direction: column-reverse;
        &_list{
                display: flex;
                list-style: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #FFFFFF;
                align-self: flex-end;
                margin-left: 120px;
                z-index: 5;
                li{
                    margin-right: 60px;
                }
                li:last-child{
                    margin-right: 0px;
                }
                .link{
                    text-decoration: none;
                    color: #FFFFFF;
                }
                li:hover{
                    background: linear-gradient(113.96deg, #9732be 1.49%, #fe13c3 101.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    cursor: pointer;
                }
        }
        &_media{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .logo{
                width: 82px;
            }
            .social_list{
                .link2{
                    display: flex;
                    align-items: center;
                }
            }
            ul{
                list-style: none;
                li{     
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin-top: 10px;
                    a{
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                    div{
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgba(196, 196, 196, 0.5);
                    }
                }
                li:hover{
                    a{
                        color: #4B9200;
                        cursor: pointer;
                    }
                    div{
                        background: #4B9200;
                    }
                }
            }
            }
            &_email{
                display: flex;
                justify-content: space-between;
                .form1{
                    margin-top: -3px;
                   display: flex;
                   flex-direction: column;
                   align-items: flex-start;
                   .logo2{
                    display: none;
                   }
                   .logo3{
                    display: none;
                    }
                    .mini{
                        display: none;
                    }
                    button{
                        @include orange_button();
                        border-radius: 5px;
                        margin:58px 0 35px;
                    }
                    button:hover{
                        background: #fe13c3;
                    }
                    button:active{
                        background: #4B9200;
                    }
                }
               
                &_text{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 120%;
                    color: #FFFFFF;
                }
                form{
                    margin-top: 14px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    #email{
                        padding-left: 10px;
                        border-radius: 2px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #BDBDBD;
                        border: $orange solid 1px;
                        width: 228px;
                        height: 42px;
                        box-sizing: border-box;
                        background-color: inherit;
                    }
                    #email:active{
                        border: 1px solid #4B9200;
                    }
                    button{
                        width: 129px;
                        height: 42px;
                        background: #F1F3F2;
                        border: 1px solid #000000;
                        border-radius: 5px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #000000;
                    }
                    .inp_btn:hover{
                        color: #4B9200;
                        border: 1px solid #4B9200;
                    }
                }
                &_design{
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 130%;
                    color: #B4B4B6;
                    p:last-child{
                        margin-top: 10px;
                    }
                }
            }
        }
    }

@media (min-width:1000px) and (max-width:1599px){
        .wrapper{
            width: 1000px;
            padding: 0 30px;
            box-sizing: border-box;
            overflow: visible;
        }
        .header{
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
            
            &_wrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 14px 30px 8px;
                box-sizing: border-box;
                &_list{
                    display: flex;
                    align-items: center;
                    gap: 63px;
                }
                ul{
                    display: flex;
                    gap: 48px;
                }
            }
        }
        .footer{
            padding: 40px 0px 50px 0px;
            &_wrap{
                display: flex;
                flex-direction: column-reverse;
                box-sizing: border-box;
                width: 960px;
                &_media{
                    margin-left: -5px;
                    .footer_wrap_email_design{
                        margin-right: -35px;
                    }
                }
                &_list{
                        margin-left: 123px;
                        li{
                            margin-right: 48px;
                        }
                        li:last-child{
                            margin-right: 40px;
                        }
                }
                    &_email{
                     margin-left: -5px;
                        .form2{
                            margin-top: 14px;
                            padding-right: 0px;
                            margin-right: 0px;
                        }
                    }
                }
            }
            .foto_fon{
                overflow: hidden;
                .move_btns{
                    top: 52%;
                    transform: translate(0,-50%);
                    z-index: 5;
                }
                .right{
                    right: 350px;
                    img{
                        transform: rotate(180deg);
                    }
                }
                .left{
                    left: 350px;
                }
                .foto_favorite{
                    padding: 0px 0 145px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .foto{
                padding: 0;
                .conteiner{
                    width: 1000px;
                }
                &_fixed{
                     display: none;
                }
                &_fixed0{
                    position: absolute;
                    bottom: 0;
                    display: block;
                }
                &_fixed2{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 241px;
               }
                &_favorite{
                    padding: 85px 0 140px;
                }
                &_list{
                    width: 1000px;
                    .list_container{
                        height: 502px;
                        margin-right: 27px;
                    }
                    .list_container:nth-child(6){
                        margin-top: 90px;
                    }
                    .list_container:nth-child(5){
                        margin-top: 90px;
                    }
                    .list_container:nth-child(4){
                        margin-top: 90px;
                    }
                    &_item{
                        width: 295px;
                        height: 500px;
                        box-sizing: border-box;
                    }
              }
            }
    }

    @media (min-width:640px) and (max-width:999px){
        .foto{
            padding: 0;
            height: 1600px;
            .conteiner{
                display: flex;
                width: 640px;
                position: relative;
             
            }
            &_list{
                padding: 20;
                margin: 0;
                gap: 0;
                justify-content: center;
                width: 640px; 
                .list_container{
                    height: 500px;
                    margin-right: 0px;
                    margin-top: 0px;
                }
                .list_container:nth-child(1){
                    margin-right: 25px;
                }
                .list_container:nth-child(3){
                    margin-right: 25px;
                    margin-top: 90px;
                }
                .list_container:nth-child(4){
                    margin-top: 90px;
                }
                .list_container:nth-child(5){
                    margin-right: 25px;
                    margin-top: 20px;
                }
                .list_container:nth-child(6){
                    margin-top: 20px;
                }
                &_item{
                    width: 285px;
                    height: 500px;
                }
          }
        }
        .foto_fon{
            .move_btns{
                top: 34%;
                transform: translate(0,-50%);
                z-index: 5;
            }
            .right{
                right: 242px;
                img{
                    transform: rotate(180deg);
                }
            }
            .left{
                left: 242px;
            }
            .foto_favorite{
                padding: 0px 0 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                        @include orange_button();
                      }
            }
        }
        .wrapper{
            width: 640px;
            padding: 0 20px;
            box-sizing: border-box;
            overflow: visible;
        }
        .header{
            width: 100vw;
            position: fixed;
            top: 0;
            z-index: 10;
            &_wrap{
                padding: 3px 20px 0px;
                &_list{
                   display: none;
                }
                p{
                    display: none;
                }
                .logo{
                    display: none;
                }
                .burger_menu{
                    display: block;
                    margin-top: -10px;
                }
                .burger_logo{
                    display: block;
                }
            }
        }
        .footer{
            padding: 15px 0px 20px 0px;
            box-sizing: border-box;
            &_wrap{
                display: flex;
                flex-direction: column-reverse;
                box-sizing: border-box;
                position: relative;
                &_media{
                    margin-top: 32px;
                }
                .social_list{
                    position: absolute;
                    right: 3%;
                    top: -12px;
                    gap: 30px;
                    li{
                        margin-bottom: 20px;
                    }
                    .link{
                        display: none;
                    }
                    .link2{
                        display: flex;
                        align-items: center;
                    }
                }
                &_list{
                        margin-left: 0px;
                        li{
                            margin-right: 39px;
                        }
                        li:last-child{
                            margin-left: -5px;
                        }
                }
                    &_email{
                        .right_form{
                            display: none;
                        }
                        .form1{
                            button{
                                margin-top: 20px;
                            }
                          
                            .logo2{
                                display: block;
                            }
                        }
                        .form2{
                            margin-top: 14px;
                            padding-right: 35px;
                        }
                    }
                }
            }
    }

    @media (min-width:320px) and (max-width:639px){
        .foto{
            &_list_item{
                width: 300px;
            }
            padding: 0;
            height: 3100px;
            .conteiner{
                display: flex;
                width: 300px;
                position: relative;
            }
            &_list{
                padding: 10px;
                margin: 0;
                gap: 0;
                justify-content: center;
                width: 300px; 
                .list_container{
                    height: 500px;
                    margin: 0px;
                    margin-top: 8px;
                }
                }
                .list_container:nth-child(4){
                    margin-top: 50px;
                }
                .list_container:nth-child(5){
                    display: block;
                }
                .list_container:nth-child(6){
                    display: block;
                }
                .animal{
                    width: 300px;
                 }
                &_item{
                    box-sizing: border-box;
                    width: 280px;
                    height: 500px;
                    
                }
          }
        
        .foto_fon{
            .move_btns{
                top: 50%;
                transform: translate(0,-50%);
                z-index: 5;
            }
            .right{
                right: 50px;
                img{
                    transform: rotate(180deg);
                }
            }
            .left{
                left: 50px;
            }
            .foto_favorite{
                padding: 0px 0 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                button{
                        @include orange_button();
                      }
            }
        }
        .wrapper{
            width: 320px;
            padding: 0 5px;
            box-sizing: border-box;
            overflow: visible;
        }
        .header{
            width: 100vw;
                position: fixed;
                top: 0;
                z-index: 10;
            &_wrap{
                padding: 3px 10px 0px;
                height: 34px;
                box-sizing: border-box;
                &_list{
                   display: none;
                }
                p{
                    display: none;
                }
                .burger_menu{
                    display: block;
                    margin-top: -4px;
                }
                .logo{
                    display: none;
                }
                .burger_logo{
                    display: block;
                    margin-top: 3px;
                }
            }
        }
        .footer{
            padding: 25px 0px 20px 0px;
            &_wrap{
                display: flex;
                flex-direction: column-reverse;
                box-sizing: border-box;
                position: relative;
                &_media{
                    margin-top: -5px;
                    flex-direction: column-reverse;
                    gap: 10px;
                    .footer_wrap_email_design{
                        font-size: 15px;
                    }
                }
                .social_list{
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    right: 20%;
                    top: 40px;
                    gap: 30px;
                    li{
                        margin-bottom: 20px;
                    }
                    .link{
                        display: none;
                    }
                    .link2{
                        display: flex;
                        align-items: center;
                    }
                }
                &_list{
                        margin-top: 10px;
                        margin-left: -50px;
                        li{
                            margin-right: 30px;
                        }
                        li:last-child{
                            margin-right: 12px;
                        }
                }
                    &_email{
                        .right_form{
                            display: none;
                        }
                        .form1{
                            align-items: center;
                            position: relative;
                            gap: 63px;
                            button{
                                margin-top: 20px;
                            }
                            .logo{
                                display: none;
                            }
                            .logo2{
                                display: none;
                            }
                            .logo3{
                                display: block;
                            }
                            .mini{
                                display: block;
                                position: absolute;
                                top: -6px;
                                left: 53%;
                            }
                        }
                        .form2{
                            margin-top: 14px;
                            padding-right: 35px;
                        }
                    }
                }
            }
    }
